@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #e6eff5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  width: 635px;
  height: 475px;
  background-color: white;
  border-radius: 8px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}
.content {
  width: 635px;
  height: 435px;
  /* background-color: blueviolet; */
  padding: 0px 40px 40px 40px;
  display: flex;
  flex-direction: column;
}

.content > h1 {
  color: #2ab3b1;
  font-family: Karla;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.3px;
  margin-bottom: 24px;
}

.content > h2 {
  color: #c0df33;
  font-family: Karla;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.225px;
  margin-bottom: 11px;
}

.content > P {
  color: #9aa7be;
  font-family: Karla;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.containers {
  width: 100%;
  height: 259px;
  display: flex;
  flex-direction: row;
}

.bottom {
  width: 50%;
  height: 259px;
  background-color: #2ab3b1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-bottom-left-radius: 8px;
}

.bottom > h3 {
  color: #fff;
  font-family: Karla;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.225px;
  margin-bottom: 18px;
}

.prices {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 9px;
}

.prices > h1 {
  color: #fff;
  font-family: Karla;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.4px;
}

.prices > h4 {
  color: #95d9d8;
  font-family: Karla;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.bottom > h4 {
  color: #fff;
  font-family: Karla;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.2px;
  margin-bottom: 26px;
}

.bottom > a {
  width: 237px;
  height: 48px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c0df33;
  border-radius: 5px;
  color: white;
}

.bottom-right {
  width: 50%;
  height: 259px;
  background-color: #4bbfbd;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 8px;
}

.bottom-right > h2 {
  color: #fff;
  font-family: Karla;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.225px;
  margin-bottom: 18px;
}

.bottom-right > p {
  color: #fff;
  font-family: Karla;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.175px;
}
